@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a asp-action="Index" class="nav-link collapsed">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a asp-action="AddStudent" class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse">
                <i class="bi bi-menu-button-wide"><span>Add Student</span></i>
            </a>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a asp-action="Students" class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse">
                <i class="bi bi-journal-text"></i><span>Students</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
            <a asp-action="Courses" class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse">
                <i class="bi bi-layout-text-window-reverse"></i><span>Courses</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-action="ShowCourses">
                        <i class="bi bi-circle"></i><span>Show Courses</span>
                    </a>
                </li>
                <li>
                    <a asp-action="AddCourse">
                        <i class="bi bi-circle"></i><span>Add Course</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Tables Nav -->

        <li class="nav-item">
            <a asp-action="Departments" class="nav-link collapsed" >
                <i class="bi bi-building"></i>
                <span>Departments</span>
            </a>
        </li>
      
    </ul>

</aside><!-- End Sidebar-->