@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer id="footer" class="footer">
    <div class="copyright">
        © Copyright <strong><span>College Portal</span></strong>. All Rights Reserved
    </div>
</footer>