<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - College_portal_System</title>
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="/AdminAssets/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet" />
    <link href="/TAAssets/img/favicon.png" rel="icon" />

    <link href="/AdminAssets/vendor/bootstrap-icons/bootstrap-icons.css"
          rel="stylesheet" />
    <link href="/AdminAssets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="/AdminAssets/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="/AdminAssets/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="/AdminAssets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/AdminAssets/vendor/simple-datatables/style.css" rel="stylesheet" />
    @*
        TA CSS
    *@
    <link href="/TAAssets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet" />
    <link href="/TAAssets/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet" />
    <link href="/TAAssets/vendor/bootstrap-icons/bootstrap-icons.css"
          rel="stylesheet" />
    <link href="/TAAssets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="/TAAssets/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="/TAAssets/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="/TAAssets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/TAAssets/vendor/simple-datatables/style.css" rel="stylesheet" />
    <link href="/TAAssets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/TAAssets/css/teaching_assistant_style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Template Main CSS File -->
    <link href="/AdminAssets/css/style.css" rel="stylesheet" />
</head>
<body>

    <partial name="_AdminHeaderPartialView"></partial>
    <partial name="_AdminaSidePartialView"></partial>
    <main id="main" class="main">
        @RenderBody()
    </main>
    <partial name="_AdminFooterPartialView"></partial>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)





    <script src="/AdminAssets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/AdminAssets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/AdminAssets/vendor/chart.js/chart.umd.js"></script>
    <script src="/AdminAssets/vendor/echarts/echarts.min.js"></script>
    <script src="/AdminAssets/vendor/quill/quill.js"></script>
    <script src="/AdminAssets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/AdminAssets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/AdminAssets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/AdminAssets/js/main.js"></script>

    <svg id="SvgjsSvg1001"
         width="2"
         height="0"
         xmlns="http://www.w3.org/2000/svg"
         version="1.1"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:svgjs="http://svgjs.dev"
         style="
        overflow: hidden;
        top: -100%;
        left: -100%;
        position: absolute;
        opacity: 0;
      ">
        <defs id="SvgjsDefs1002"></defs>
        <polyline id="SvgjsPolyline1003" points="0,0"></polyline>
        <path id="SvgjsPath1004" d="M0 0 "></path>
    </svg>
    @* @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>
