@using College_portal_System.Models.StudentViewModels
@model List<AvailableCoursesViewModel>
@{
    ViewData["Title"] = "RegisterCourses";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    ViewData["firstname"] = "Yassin";
    ViewData["lastname"] = "Ahmed";
    ViewData["image"] = null;
    ViewData["gender"] = false;
    ViewData["id"] = "30308132100798";
}

<h1>RegisterCourses</h1>

