@model StudentOverviewModel

@foreach (var record in Model.Professors)
{
    <tr>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
    </tr>
}