@{
    ViewData["Title"] = "Add Course";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@model AddCourseViewModel;

<div class="pagetitle">
    <h1>Add Course</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Add Course</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <h1>Create Course</h1>

        <!-- Exam Form -->
        <form id="examForm" asp-action="AddCourse" method="post">

            <!-- Course Department (Select) -->
            <div class="mb-3">
                <label asp-for="Departments" class="form-label">Select course dapertment</label>
                <select asp-for="DepartmentId" class="form-select" asp-items="Model.Departments" required>
                    
                </select>
            </div>

            <!-- Prerequisite Course (Select) -->
            <div class="mb-3">
                <label asp-for="PrerequisiteCourses" class="form-label">Select course Prerequistie (If exist)</label>
                <select asp-for="PrerequisiteCourseId" class="form-select" asp-items="Model.PrerequisiteCourses" required>
                </select>
            </div>

            <div class="mb-3">
                <label asp-for="CourseName" class="form-label">Course Name</label>
                <input asp-for="CourseName" class="form-control" required />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CourseCode" class="form-label">Course Code</label>
                <input asp-for="CourseCode" class="form-control" required />
                <span asp-validation-for="CourseCode" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Hours" class="form-label">Course Hours</label>
                <input asp-for="Hours" class="form-control" required />
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>

            <!-- Level (Select) -->

            <div class="mb-3">
                <label id="Course Level" class="form-label">Select course Level</label>
                <select name="Level" required>
                    <option value="1">Year 1</option>
                    <option value="2">Year 2</option>
                    <option value="3">Year 3</option>
                    <option value="4">Year 4</option>
                </select>
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>

            <!-- Semester (Select) -->

            <div class="mb-3">
                <label id="Semester" class="form-label">Select course Semester</label>
                <select name="Semester" required>
                    <option value="0">First Semester</option>
                    <option value="1">Second Semester</option>
                </select>
                <span asp-validation-for="Semester" class="text-danger"></span>
            </div>

            <button type="button" class="btn btn-primary" onclick="generateInputs()">Generate Question Inputs</button>

        </form>

    </div>
</section>
