@using College_portal_System.ViewModels.UserViewModels

@model TAFormViewModel

@{
    ViewData["Title"] = "Create Student";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow-sm mb-5">
    <div class="card-header">
        <div class="d-flex">
            <div class="p-2 col-10">
                <h2 style="color: #000; font-weight:bold">
                    Create Teaching Assisstant
                </h2>
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="row">

        <form id="examForm" asp-controller="Auth" asp-action="CreateTeachingAssistant" method="post" novalidate="novalidate">
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label">First Name</label>
                <input asp-for="FirstName" class="form-control" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LastName" class="form-label">Last Name</label>
                <input asp-for="LastName" class="form-control" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" required />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">National Id</label>
                <input asp-for="NationalId" class="form-control" required />
                <span asp-validation-for="NationalId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Address" class="form-label">Address</label>
                <input asp-for="Address" class="form-control" required />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Select Gender</label>
                <select asp-for="Gender" class="form-select" id="floatingSelect" required="">
                    <option value="" selected>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>

            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Add</button>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}