<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="TeachingAssistant" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="TeachingAssistant" asp-action="UpdateProfile">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
            </a>
        </li> 
        <li class="nav-item">
                <a class="nav-link collapsed" asp-controller="TeachingAssistant" asp-action="MyCourses" asp-route-id="@ViewBag.ID">
                <i class="bi bi-book">
                    </i><span>My Courses</span>
               </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="TeachingAssistant" asp-action="CreateQuiz">
                <i class="bi bi-pencil"></i>
                <span>Create Quiz</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="TeachingAssistant" asp-action="CreateTask">
                <i class="bi bi-check-square"></i>
                <span>My Tasks</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="TeachingAssistant" asp-action="ShowTasksSubmissions">
                <i class="bi bi-bar-chart"></i>
                <span>Show Tasks Submissions</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Account" asp-action="Logout">
                <i class="bi bi-dash-circle"></i>
                <span>Log out</span>
            </a>
        </li>
    </ul>
</aside>
