
@{
    ViewData["Title"] = "My Tasks";
    Layout = "~/Views/Shared/_LayoutTeachingAssistant.cshtml";
}
@model CreateTaskViewModel;

<div class="pagetitle">
    <h1>Assignment</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">My Tasks</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <div class="col-12">
            <h4 class="text-left">My Tasks</h4>
            <br>
            <br>
        </div>
        <div class="assignments">
            <div class="row">
                <!-- Repeat this div  -->
                @{
                    if(Model.Tasks.Count == 0)
                    {
                        <p>There is no previous tasks</p>

                    }
                
                else{
                    foreach(var task in Model.Tasks){
                    <div class="col-lg-4 col-12 mb-3">
                        <div class="assignment-card text-left">
                            <h3>
                                @task.CourseName
                            </h3>
                            <p>
                                @task.Content
                            </p>

                            <button class="assignment-btn btn" style="width: 100%;margin: 0px 4px; background-color: #f1b341;">Edit</button>
                            <button class="assignment-btn btn btn-success" style="width: 100%;margin: 5px 4px;">Show Results</button>
                        </div>
                     </div>
                    }
                }
                }
                <div class="">
                    <br>
                    <h1>Add new Task</h1>
                    <br>
                    <form method="post" asp-action="AddTask">
                        <div class="form-group">
                            <label for="Courses">Course:</label>
                            <select asp-for="CourseId" class="form-control" asp-items="Model.Courses"></select>
                            <span asp-validation-for="CourseId" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="TaskType">Task Type:</label>
                            <select id="course" class="input-field" required>
                                <option name="Type" value="Assignment">Assignment</option>
                                <option name="Type" value="Project">Project</option>
                            </select>
                        </div>

                        <div class="input-container col-12">
                            <input placeholder="Grade" asp-for="Grade" class="input-field" type="text" required>
                            <label asp-for="Grade" class="input-label">Grade</label>
                            <span class="input-highlight"></span>
                        </div>

                        <div class="input-container">
                            <label asp-for="Deadline" class="input-label">Deadline</label>
                            <input placeholder="" class="input-field" asp-for="Deadline" required>
                            <input placeholder="Deadline" class="input-field" asp-for="Deadline" required>
                            <span class="input-highlight"></span>
                        </div>

                        <div class="input-container">
                            <textarea placeholder="Content" asp-for="Content" class="input-field" cols="1" rows="1" required></textarea>
                            <label asp-for="Content" class="input-label">Content</label>
                            <span class="input-highlight"></span>
                        </div>
                        <div class="input-container">
                            <textarea placeholder="Task Link" asp-for="TaskLink" class="input-field" cols="1" rows="1" required></textarea>
                            <label asp-for="TaskLink" class="input-label">Task Link</label>
                            <span class="input-highlight"></span>
                        </div>
                        <br>
                        <br>
                        <button type="submit" class="submit-btn btn btn-success">Add Task</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>